<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Formulário Filme</div>
    <div class="row">
      <div class="col-12">
        <label for="id">Código</label>
      </div>
      <div class="col-12">
        <input id="id" type="number"
               [disabled]="editar"
               [(ngModel)]="filme.id"/>
      </div>
      <div class="col-12">
        <label>Data de Cadastro</label>
      </div>
      <div class="col-12">
        <p-calendar [(ngModel)]="filme.dataCadastro" dateFormat="dd/mm/yy" dataType="string"></p-calendar>
      </div>
      <div class="col-12">
        <label for="titulo">Titulo</label>
      </div>
      <div class="col-12">
        <input id="titulo" name="titulo" #titulo="ngModel" type="text" [(ngModel)]="filme.titulo" required/>
        <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
             class="alert alert-danger">

          <div *ngIf="titulo.errors.required">
            Nome é obrigatório.
          </div>
        </div>
      </div>
      <div class="col-12">
        <label for="valor">Preço do Bilhete</label>
      </div>
      <div class="col-12">
        <input id="valor" type="number" name="valor" #valor="ngModel" [(ngModel)]="filme.precoBilhete" required min="5.00"/>
        <div *ngIf="valor.invalid && (valor.dirty || valor.touched)"
             class="alert alert-danger">

          <div *ngIf="valor.errors.required">
            Valor é obrigatório.
          </div>
          <div *ngIf="valor.errors.min">
            Valor precisa ser maior que 5,00 R$
          </div>
        </div>
      </div>
      <div class="col-12">
        <p-checkbox id="inativo" [(ngModel)]="filme.inativo" binary="true"></p-checkbox>
        <label for="inativo" class="pl-2">   Inativo</label>
      </div>
      <div class="col-12">
        <label>Dimensão</label>
      </div>
      <div class="col-12">
        <p-checkbox  [(ngModel)]="filme.dimensao" binary="true"></p-checkbox>
        <label class="pl-2">   3D</label>
      </div>
      <div class="col-12">
        <label>Atores</label>
      </div>
      <div class="col-12">
        <p-multiSelect [options]="atorList" [(ngModel)]="filme.atorList" optionLabel="nome" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
      </div>
      <div class="col-12">
        <label>Studio</label>
      </div>
      <div class="col-12">
        <p-dropdown [options]="studioList" [(ngModel)]="filme.studio" optionLabel="nome" [panelStyle]="{minWidth:'12em'}"></p-dropdown>
      </div>
<!--      Fim Formulário-->
      <div class="col-12">
        <button class="btn btn-success mt-2" (click)="adicionar()">{{editar ? 'Editar' : 'Adicionar'}}</button>
      </div>
    </div>
  </div>
</div>
